.remote-video-wrapper {
  width: 90vw;
  height: 100vh;
}

.remote-video-wrapper video {
  width: 90vw !important;
  height: 90vh;
  margin: 0 auto;
}


.local-video-wrapper {
  width: 300px;
  height: 170px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 45px 12vh 0;
  border: 1px solid white;
  border-radius: 6px;
}

.local-video-wrapper video {
  width: 300px;
  height: 170px;
}

.action-btn {
  width: 2.75em;
  height: 2.75em;
  border-radius: 50%;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.action-btn:hover {
  border: 1.5px solid rgba(255, 255, 255, 0.5);
}


.enabled-action-btn {
  background-color: #121212;
}

.disabled-action-btn {
  background-color: #EC6652;
}