  
  .credit-card-form {
    /* Add styling for your CreditCardForm component */
    border: 1px solid white !important;
    border-radius: 8px !important;
    padding: 30px 30px;
    justify-content: center;
    width: fit-content;
    display: grid;
    margin: 30px;
  }
  
  .input-group {
    margin-bottom: 25px;
  }

  .details{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 35px;
  }

