  
  .credit-card-form {
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-radius: 6px !important;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }

  .details{
    display: flex !important;
    justify-content: start;
    align-items: center;
    gap: 35px;
    width: max-content;
  }

